<!-- FOOTER -->
<footer class="bg-dark text-white mt-auto pt-4 pb-3">
    <div class="container">
    <div class="row">

<!-- Logo / Nombre -->
<div class="col-md-4 mb-3 text-center">
    <h5 class="mb-3">NaturaEsencia</h5>
    <p>Cuida de ti como cuidarias de los tuyos.</p>
</div>

<!-- Enlaces principales -->
<div class="col-md-4 mb-3 text-center">
    <h6 class="mb-3">Enlaces</h6>
        <ul class="list-unstyled">
            <li><a href="{% url 'home' %}" class="text-white text-decoration-none">Home</a></li>
            <li><a href="{% url 'ver_carrito' %}" class="text-white text-decoration-none">Carrito</a></li>
            <li><a href="{% url 'contacto' %}" class="text-white text-decoration-none">Contactanos</a></li>
        </ul>
</div>

    <!-- Redes sociales -->
    <div class="col-md-4 mb-3 text-center">
        <h6 class="mb-3">Síguenos</h6>
            <a href="https://www.instagram.com/" class="text-white me-3">Instagram</a>
            <a href="https://www.facebook.com/" class="text-white me-3">Facebook</a>
            <a href="https://www.tiktok.com/" class="text-white">TikTok</a>
    </div>

<div class="text-center mt-3">
<small>&copy; 2025 NaturaEsencia. Todos los derechos reservados.</small>
</div>
</div>
</footer>